.header {
    background-color: beige;
    color: blue;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    flex-grow: 1;
    text-align: center;

}

.navUl {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navLi {
    display: inline;
    margin-right: 20px;
}

.navLi a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 26px;
    background-color: #84a48c;
}

.navLi a:hover {
    opacity: 0.8;
}

.logo {
    width: 100px;
    height: 100px;
}
  