body {
    background: transparent; /* Make it white if you need */
    padding: 0 24px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: fantasy;
  }

header {
    background-color: #d70808;
    color: white;
    padding: 10px 0;
}

footer {
    background-color: #333;
    color: white;
}

/* .App {
    color: #72a24d;
  } */