body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d70808;
    color: white;
    padding: 10px 0;
}

footer {
    background-color: #333;
    color: white;
}